@font-face {
    font-family: Satoshi;
    src: url('alpha/fonts/Satoshi-Regular.woff2') format('woff2'),
         url('alpha/fonts/Satoshi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
   }

   @font-face {
    font-family: Satoshi;
    src: url('alpha/fonts/Satoshi-Medium.woff2') format('woff2'),
         url('alpha/fonts/Satoshi-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
   }

   @font-face {
    font-family: Satoshi;
    src: url('alpha/fonts/Satoshi-Bold.woff2') format('woff2'),
         url('alpha/fonts/Satoshi-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
   }



body {
    background-color: white;
    font-family: Satoshi, Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}