@font-face {
    font-family: Satoshi;
    src: url('fonts/Satoshi-Regular.woff2') format('woff2'),
         url('fonts/Satoshi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
   }

   @font-face {
    font-family: Satoshi;
    src: url('fonts/Satoshi-Medium.woff2') format('woff2'),
         url('fonts/Satoshi-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
   }

   @font-face {
    font-family: Satoshi;
    src: url('fonts/Satoshi-Bold.woff2') format('woff2'),
         url('fonts/Satoshi-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
   }

   /* Backup span font */
   @font-face {
    font-family: Adediala;
    src: url('fonts/Adediala.woff2') format('woff2'),
         url('fonts/Adediala.woff') format('woff');
    font-weight: bold;
    font-style: normal;
   }

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FEFEFE;
    color: #1E1A14;
}

header {
    background-color: #D08B2F;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

section {
    text-align: center;
}

section > * {
    margin: 10px;
}

a {
    display: block;
}

p {
    font-weight: bold;
}